<h1>Editing Lesson</h1>

<%= render 'form', lesson: @lesson, action: "Update Lesson" %>

<%= link_to 'Show', [:group, :subject, @lesson] %> |
<%= link_to 'Back', group_subject_path(@group, @subject) %>
